<h1><%=@user.name%></h1>
<h3>User information</h3>
<ul>
  <li>ID: <%=@user.id%></li>
  <li>Email: <%=@user.email%></li>
  <li>Member since: <%=@user.created_at.strftime("%m/%d/%Y")%></li>
  <li>Email: <%=@user.email%></li>
</ul>
