  <h1><%=@user.name%></h1>
  <h3>User information</h3>
  <ul>
    <li>ID: <%=@user.id%></li>
    <li>Email: <%=@user.email%></li>
    <li>Member since: <%=@user.created_at.strftime("%m/%d/%Y")%></li>
  </ul>

  <h2>Items</h2>
  <div class="js-items">
    <%= render partial: 'items/item', collection: @items %>
  </div>
  <% if policy(@item).create? %>
    <h4>Add more items:</h4>
    <div class="new-item">
      <%= render partial: 'items/form', locals: {user: @user, item: @item} %>
    </div>
  <% end %>
